/*This is the navegation part*/

nav{
    display: flex;
    justify-content: space-around;
    background-color: #131215;
}

div{
    display: flex;
    gap: 20px;
}

.anchors{
    margin-top: 15px;
    margin-left: 550px;
}

a{
    color: #6DC5C7;
    text-decoration: none;
}

.parrots-icons{
    width: 25px;
    height: 25px;
}

/*This is the main part*/

main{
    display: flex;
    flex-direction: column;
    background-image: url( "blue-bird.webp");
    background-size: cover;
    height: 500px;
    color: aliceblue;
}

h1{
    margin-top: 90px;
    margin-left: 80px;
    font-size: 65px;
}

form {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

input[type="text"] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}


input[type="submit"] {
    width: 10%;
    background-color: #6DC5C7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.social-media{
    width: 30px;
    height: 30px;
}

.social-media-parent{
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}

/*This is the first section, the  background"*/

.second-background{
    display: flex;
    flex-direction: column;
    background-image: url( "background2.jpg");
    background-size: cover;
    height: 500px;
    color: aliceblue;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

h2{
    font-size: 40px;
}

/*This is the second section, the third background"*/

.third-background{
    display: flex;
    flex-direction: column;
    background-image: url( "background3.jpg");
    background-size: cover;
    height: 500px;
    color: aliceblue;
}

.information{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.subtitle{
    margin: 0px;
}

.navegation-third-part{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.images-parent{
    margin-left: 150px;
}

.images{
    width: 200px;
    height: 300px;
}

/*This is the third section, the fourth background"*/

.fourth-background{
    display: flex;
    flex-direction: column;
    background-image: url( "background4.jpg");
    background-size: cover;
    height: 500px;
    color: black;
}

.time-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
    margin-top: 28px;
}

.call-icon{
    text-align: center;
    margin-left: 540px;
    width: 50px;
    height: 50px;
}

h3, p{
    font-size: 20px;
    margin: 0px;
}

.parent-hours{
    display: flex;
    gap: 400px;
}


.hours-left{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.hours-right{
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

